/*=====================================
    Red Dirt Avian Diagnostics
    Main Stylesheet
=====================================*/

/* ---------- RESET ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ---------- BODY ---------- */

body{

    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color:#2f2f2f;
    line-height:1.6;

}

.container{
    width:92%;
    max-width: 1600px;
    margin:0 auto;
}

/* ---------- LINKS ---------- */

a{

    text-decoration:none;

    color:inherit;

}

/* ---------- HEADER ---------- */

header {
    background:#f1a87d;
    padding:15px 8%;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
    border-bottom:4px solid #8B2E24;
    position:sticky;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* ---------- LOGO ---------- */

.logo img {
    height: 100px;
    width: auto;
    display: block;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform:scale(1.05);
}
/* ---------- NAV ---------- */

.nav-button{

    height: 32px;
    width: auto;
    display: block;
    transition: transform 0.25s ease,
    filter 0.25s ease;

}

.nav-button:hover{
    transform:scale(1.08);
    filter:
        brightness(0.5)
        drop-shadow(0 4px 8px rgba(0,0,0,0.25));
}


#main-nav ul {
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:25px;
}

/* ---------- BUTTON ---------- */

.button{

    display:inline-block;

    margin-top:40px;

    background:#8B2E24;

    color:white;

    padding:15px 35px;

    border-radius:8px;

    font-weight:bold;

    transition:.3s;

}

.button:hover{

    background:#6e221a;

    transform:translateY(-3px);

}

/* ---------- FEATURES ---------- */

.features{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

    padding:80px 10%;

}

.feature{

    background:white;

    padding:35px;

    border-radius:10px;

    text-align:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.feature h3{

    color:#8B2E24;

    margin-bottom:15px;

}

/* ---------- WELCOME ---------- */

.welcome{

    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 1600px;
    padding:80px 0;
    text-align: center;
}

.welcome h1{
    margin-bottom:30px;
    color: #000000
}
.welcome h2{
    margin-bottom: 20px;

}
.welcome p{

    max-width:650px;
    text-align: center;
    margin:auto;
    font-size:1.15rem;

}

/* ---------- ARTICLES ---------- */

.articles{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
}
.articles-button{
    height: 40px;
    width: auto;
    display: block;
    transition: transform 0.25s ease,
    filter 0.25s ease;
    margin-left: 45px;
}
.articles-button:hover{
    transform:scale(1.08);
    filter:
        brightness(0.5)
        drop-shadow(0 4px 8px rgba(0,0,0,0.25));
}
.article-section{
    border: #535353;
    border-style: ridge;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    height: 240px;
}
.article-photo{
    height: 200px;
    width: auto;
    border-style: outset;
    border-radius: 15px;
    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.25));
    float: left;
}
.article-section h1{
    padding-left:320px;
    font-size: 30px;
}
.article-section p{
    padding-left: 320px;
}
/* ---------- FOOTER ---------- */

footer{

    background:#000000;

    color:white;

    text-align:center;

    padding:25px;

}
.menu-toggle{

    display:none;

}



